body {
    /* background-color: #7cc6fe; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.app {
    /* background-color: #252d4a; */
    width: auto;
    min-height: 250px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    /* box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75); */
    display: flex;
    justify-content: space-evenly;
}

.score-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    margin: auto;
}

.question-section {
    width: 100%;
    position: relative;
    color: #fff;
    margin: auto;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app button {
    width: 100%;
    font-size: 12px;
    color: #ffffff;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.app button:hover {
    background-color: #555e7d;
}

.app button:focus {
    outline: none;
}

.app button svg {
    margin-right: 5px;
}

.actions {
    display: flex;
    margin-top: 15px;
}

.actions button {
    background-color: #7cc6fe;
    justify-content: center;
}

.actions button:hover {
    background-color: #234668;
    color: white;
}

.correct a {
    background-color: rgb(187 247 208 / 1);
    color: rgb(21 128 61 / 1);
}

.wrong a {
    background-color: rgb(254 202 202 / 1);
    color: rgb(185 28 28 / 1);
}

.listView {
    display: flex;
    flex-direction: column;
    gap: 20px;
}