/* Mui Styles */

*::-webkit-scrollbar {
    width: 8px;
}


*::-webkit-scrollbar-track {
    background-color: rgba(47, 56, 63, 0.12);
    border-radius: 16px;
}


*::-webkit-scrollbar-thumb {
    background-color: rgba(47, 56, 63, 0.26);
    border-radius: 16px;
}


.css-1i13on3 {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 350px;
    border-radius: 16px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    z-index: 9999999999;
    overflow-y: auto;
    max-height: 95vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    display: none;
}


.css-1i13on3::-webkit-scrollbar {
    display: none;
}


.css-67ojvh {
    background-color: #150359;
    background-image: url(https://storage.googleapis.com/recall-public/static_assets/images/stars.svg), url(https://storage.googleapis.com/recall-public/static_assets/images/planet.svg);
    background-repeat: no-repeat, no-repeat;
    -webkit-background-size: 60%, 80%;
    background-size: 60%, 80%;
    -webkit-background-position: left bottom, right top;
    background-position: left bottom, right top;
    height: 600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}


.css-153v624 {
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(47, 56, 63, 0.80);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.7);
}


.css-153v624:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


@media (hover: none) {
    .css-153v624:hover {
        background-color: transparent;
    }
}


.css-153v624.Mui-disabled {
    background-color: transparent;
    color: rgba(47, 56, 63, 0.26);
}


.css-153v624:hover {
    color: rgba(255, 255, 255, 0.8);
}


.css-rusxgv {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(47, 56, 63, 0.80);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.7);
}


.css-rusxgv::-moz-focus-inner {
    border-style: none;
}


.css-rusxgv.Mui-disabled {
    pointer-events: none;
    cursor: default;
}


@media print {
    .css-rusxgv {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}


.css-rusxgv:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


@media (hover: none) {
    .css-rusxgv:hover {
        background-color: transparent;
    }
}


.css-rusxgv.Mui-disabled {
    background-color: transparent;
    color: rgba(47, 56, 63, 0.26);
}


.css-rusxgv:hover {
    color: rgba(255, 255, 255, 0.8);
}


.css-vubbuv {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 24px;
}


.css-b4acux {
    margin-top: 16px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.css-1ut13lc {
    margin-top: 16px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #fff;
}


.css-lqtih1 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: -16px;
    width: calc(100% + 16px);
    margin-left: -16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.css-lqtih1>.MuiGrid-item {
    max-width: none;
}


.css-lqtih1>.MuiGrid-item {
    padding-top: 16px;
}


.css-lqtih1>.MuiGrid-item {
    padding-left: 16px;
}


.css-1wxaqej {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


.css-14ktbsh {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}


.css-15vbqsp {
    display: inline-block;
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #150359;
    color: rgba(255, 255, 255, 0.3);
}


.css-13o7eu2 {
    display: block;
}


.css-nbfpn7 {
    stroke: currentColor;
    -webkit-transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.css-64ewtz {
    display: inline-block;
    color: #F2B807;
    -webkit-animation: animation-61bdi0 1.4s linear infinite;
    animation: animation-61bdi0 1.4s linear infinite;
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    position: absolute;
    left: 0;
}


.css-64ewtz .MuiCircularProgress-circle {
    stroke-linecap: round;
}


@-webkit-keyframes animation-61bdi0 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes animation-61bdi0 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.css-1aw1elk {
    stroke: currentColor;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0;
}


.css-wz8iu5 {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
}


.css-14q7mc1 {
    margin: 0;
    font-size: 18.4px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.6;
}


.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
}


.css-ukqjna {
    position: fixed;
    top: 8px;
    right: 8px;
    width: 350px;
    border-radius: 16px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    z-index: 9999999999;
    overflow-y: auto;
    max-height: 95vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    display: block;
}


.css-ukqjna::-webkit-scrollbar {
    display: none;
}


.css-tcgdo2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
}


.css-ck1856 {
    margin-bottom: 4px;
    width: 100%;
}


.css-wou79i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 35px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4px;
}


.css-1ts1soh {
    text-transform: none;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.75;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 16px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(21, 3, 89, 0.5);
    color: #150359;
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
}


.css-1ts1soh:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(21, 3, 89, 0.04);
    border: 1px solid #150359;
}


@media (hover: none) {
    .css-1ts1soh:hover {
        background-color: transparent;
    }
}


.css-1ts1soh.Mui-disabled {
    color: rgba(47, 56, 63, 0.26);
    border: 1px solid rgba(47, 56, 63, 0.12);
}


.css-1ts1soh:hover {
    box-shadow: none;
}


.css-1ts1soh.Mui-focusVisible {
    box-shadow: none;
}


.css-1ts1soh:active {
    box-shadow: none;
}


.css-1ts1soh.Mui-disabled {
    box-shadow: none;
}


.css-aq3vnm {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-transform: none;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.75;
    min-width: 64px;
    padding: 5px 15px;
    border-radius: 16px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(21, 3, 89, 0.5);
    color: #150359;
    box-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
}


.css-aq3vnm::-moz-focus-inner {
    border-style: none;
}


.css-aq3vnm.Mui-disabled {
    pointer-events: none;
    cursor: default;
}


@media print {
    .css-aq3vnm {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}


.css-aq3vnm:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(21, 3, 89, 0.04);
    border: 1px solid #150359;
}


@media (hover: none) {
    .css-aq3vnm:hover {
        background-color: transparent;
    }
}


.css-aq3vnm.Mui-disabled {
    color: rgba(47, 56, 63, 0.26);
    border: 1px solid rgba(47, 56, 63, 0.12);
}


.css-aq3vnm:hover {
    box-shadow: none;
}


.css-aq3vnm.Mui-focusVisible {
    box-shadow: none;
}


.css-aq3vnm:active {
    box-shadow: none;
}


.css-aq3vnm.Mui-disabled {
    box-shadow: none;
}


.css-70qvj9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.css-1dtp3et {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2.4px;
    padding-bottom: 2.4px;
    height: 100%;
    margin-right: 4px;
    cursor: pointer;
}


.css-6ya2z1 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.66;
}


.css-tvd7zg {
    z-index: 10000001499;
    pointer-events: none;
}


.css-tvd7zg[data-popper-placement*="bottom"] .MuiTooltip-arrow {
    top: 0;
    margin-top: -0.71em;
}


.css-tvd7zg[data-popper-placement*="bottom"] .MuiTooltip-arrow::before {
    transform-origin: 0 100%;
}


.css-tvd7zg[data-popper-placement*="top"] .MuiTooltip-arrow {
    bottom: 0;
    margin-bottom: -0.71em;
}


.css-tvd7zg[data-popper-placement*="top"] .MuiTooltip-arrow::before {
    transform-origin: 100% 0;
}


.css-tvd7zg[data-popper-placement*="right"] .MuiTooltip-arrow {
    left: 0;
    margin-left: -0.71em;
    height: 1em;
    width: 0.71em;
}


.css-tvd7zg[data-popper-placement*="right"] .MuiTooltip-arrow::before {
    transform-origin: 100% 100%;
}


.css-tvd7zg[data-popper-placement*="left"] .MuiTooltip-arrow {
    right: 0;
    margin-right: -0.71em;
    height: 1em;
    width: 0.71em;
}


.css-tvd7zg[data-popper-placement*="left"] .MuiTooltip-arrow::before {
    transform-origin: 0 0;
}


.css-fxxdcv {
    z-index: 10000001499;
    pointer-events: none;
}


.css-fxxdcv[data-popper-placement*="bottom"] .MuiTooltip-arrow {
    top: 0;
    margin-top: -0.71em;
}


.css-fxxdcv[data-popper-placement*="bottom"] .MuiTooltip-arrow::before {
    transform-origin: 0 100%;
}


.css-fxxdcv[data-popper-placement*="top"] .MuiTooltip-arrow {
    bottom: 0;
    margin-bottom: -0.71em;
}


.css-fxxdcv[data-popper-placement*="top"] .MuiTooltip-arrow::before {
    transform-origin: 100% 0;
}


.css-fxxdcv[data-popper-placement*="right"] .MuiTooltip-arrow {
    left: 0;
    margin-left: -0.71em;
    height: 1em;
    width: 0.71em;
}


.css-fxxdcv[data-popper-placement*="right"] .MuiTooltip-arrow::before {
    transform-origin: 100% 100%;
}


.css-fxxdcv[data-popper-placement*="left"] .MuiTooltip-arrow {
    right: 0;
    margin-right: -0.71em;
    height: 1em;
    width: 0.71em;
}


.css-fxxdcv[data-popper-placement*="left"] .MuiTooltip-arrow::before {
    transform-origin: 0 0;
}


.css-st2gbw {
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(47, 56, 63, 0.80);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 5px;
    font-size: 18px;
}


.css-st2gbw:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


@media (hover: none) {
    .css-st2gbw:hover {
        background-color: transparent;
    }
}


.css-st2gbw.Mui-disabled {
    background-color: transparent;
    color: rgba(47, 56, 63, 0.26);
}


.css-1b81l1m {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(47, 56, 63, 0.80);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 5px;
    font-size: 18px;
}


.css-1b81l1m::-moz-focus-inner {
    border-style: none;
}


.css-1b81l1m.Mui-disabled {
    pointer-events: none;
    cursor: default;
}


@media print {
    .css-1b81l1m {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}


.css-1b81l1m:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


@media (hover: none) {
    .css-1b81l1m:hover {
        background-color: transparent;
    }
}


.css-1b81l1m.Mui-disabled {
    background-color: transparent;
    color: rgba(47, 56, 63, 0.26);
}


.css-39bbo6 {
    margin: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: thin;
}


.css-1cym44n {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: -8px;
    width: calc(100% + 8px);
    margin-left: -8px;
    padding: 3.2px;
}


.css-1cym44n>.MuiGrid-item {
    padding-top: 8px;
}


.css-1cym44n>.MuiGrid-item {
    padding-left: 8px;
}


.css-sj2b5d {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
    padding-left: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


@media (min-width:600px) {
    .css-sj2b5d {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


@media (min-width:900px) {
    .css-sj2b5d {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


@media (min-width:1200px) {
    .css-sj2b5d {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


@media (min-width:1536px) {
    .css-sj2b5d {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


.css-15ro776 {
    margin-right: 4px;
}


.css-1k33q06 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 20px;
}


.css-16yqeu {
    text-transform: none;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.75;
    min-width: 64px;
    padding: 4px 10px;
    border-radius: 16px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(0, 0, 0, 0.87);
    background-color: #F2B807;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: none;
    height: 32px;
    padding-left: 7.2px;
    padding-right: 14.4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 3.2px;
}


.css-16yqeu:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #DAA507;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}


@media (hover: none) {
    .css-16yqeu:hover {
        background-color: #F2B807;
    }
}


.css-16yqeu:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.css-16yqeu.Mui-focusVisible {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}


.css-16yqeu.Mui-disabled {
    color: rgba(47, 56, 63, 0.26);
    box-shadow: none;
    background-color: rgba(47, 56, 63, 0.12);
}


.css-16yqeu:hover {
    box-shadow: none;
}


.css-16yqeu.Mui-focusVisible {
    box-shadow: none;
}


.css-16yqeu:active {
    box-shadow: none;
}


.css-16yqeu.Mui-disabled {
    box-shadow: none;
}


.css-3hpkko {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-transform: none;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.75;
    min-width: 64px;
    padding: 4px 10px;
    border-radius: 16px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(0, 0, 0, 0.87);
    background-color: #F2B807;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: none;
    height: 32px;
    padding-left: 7.2px;
    padding-right: 14.4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 3.2px;
}


.css-3hpkko::-moz-focus-inner {
    border-style: none;
}


.css-3hpkko.Mui-disabled {
    pointer-events: none;
    cursor: default;
}


@media print {
    .css-3hpkko {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}


.css-3hpkko:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #DAA507;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}


@media (hover: none) {
    .css-3hpkko:hover {
        background-color: #F2B807;
    }
}


.css-3hpkko:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.css-3hpkko.Mui-focusVisible {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}


.css-3hpkko.Mui-disabled {
    color: rgba(47, 56, 63, 0.26);
    box-shadow: none;
    background-color: rgba(47, 56, 63, 0.12);
}


.css-3hpkko:hover {
    box-shadow: none;
}


.css-3hpkko.Mui-focusVisible {
    box-shadow: none;
}


.css-3hpkko:active {
    box-shadow: none;
}


.css-3hpkko.Mui-disabled {
    box-shadow: none;
}


.css-11bh593 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 4px;
    font-weight: 500;
}


.css-15j76c0 {
    box-sizing: border-box;
    margin: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
}


@media (min-width:600px) {
    .css-15j76c0 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


@media (min-width:900px) {
    .css-15j76c0 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


@media (min-width:1200px) {
    .css-15j76c0 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


@media (min-width:1536px) {
    .css-15j76c0 {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}


.css-11604fz {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.334;
}


.css-oafhs5 {
    max-width: 100%;
    border-radius: 16px;
    max-height: 300px;
}


.css-1vfxzmk {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-family: Montserrat, sans-serif;
}


.css-1vfxzmk h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 16px 0;
}


.css-1vfxzmk h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 16px 0;
}


.css-1vfxzmk ul {
    -webkit-padding-start: 20px;
    padding-inline-start: 20px;
    margin-block-start: 8px;
}


.css-1vfxzmk p {
    margin-block-end: 8px;
}


.css-tuxzvu {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: -8px;
    width: calc(100% + 8px);
    margin-left: -8px;
}


.css-tuxzvu>.MuiGrid-item {
    padding-top: 8px;
}


.css-tuxzvu>.MuiGrid-item {
    padding-left: 8px;
}


.css-jejy0m {
    background-color: rgba(47, 56, 63, 0.04);
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}


.css-11arlvz {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
}


.css-1d3bbye {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


.css-1w6hqmx {
    max-width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 32px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(47, 56, 63, 0.14);
    border-radius: 16px;
    white-space: nowrap;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #bdbdbd;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #eef0f2;
    max-width: 250px;
}


.css-1w6hqmx.Mui-disabled {
    opacity: 0.38;
    pointer-events: none;
}


.css-1w6hqmx .MuiChip-avatar {
    margin-left: 5px;
    margin-right: -6px;
    width: 24px;
    height: 24px;
    color: #616161;
    font-size: 12px;
}


.css-1w6hqmx .MuiChip-avatarColorPrimary {
    color: #fff;
    background-color: #0E023B;
}


.css-1w6hqmx .MuiChip-avatarColorSecondary {
    color: rgba(0, 0, 0, 0.87);
    background-color: #DAA507;
}


.css-1w6hqmx .MuiChip-avatarSmall {
    margin-left: 4px;
    margin-right: -4px;
    width: 18px;
    height: 18px;
    font-size: 10px;
}


.css-1w6hqmx .MuiChip-icon {
    margin-left: 5px;
    margin-right: -6px;
    color: #616161;
}


.css-1w6hqmx .MuiChip-deleteIcon {
    -webkit-tap-highlight-color: transparent;
    color: rgba(0, 0, 0, 0.26);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px 0 -6px;
}


.css-1w6hqmx .MuiChip-deleteIcon:hover {
    color: rgba(0, 0, 0, 0.4);
}


.css-1w6hqmx.MuiChip-clickable:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


.css-1w6hqmx.Mui-focusVisible {
    background-color: rgba(0, 0, 0, 0.12);
}


.css-1w6hqmx .MuiChip-avatar {
    margin-left: 4px;
}


.css-1w6hqmx .MuiChip-avatarSmall {
    margin-left: 2px;
}


.css-1w6hqmx .MuiChip-icon {
    margin-left: 4px;
}


.css-1w6hqmx .MuiChip-iconSmall {
    margin-left: 2px;
}


.css-1w6hqmx .MuiChip-deleteIcon {
    margin-right: 5px;
}


.css-1w6hqmx .MuiChip-deleteIconSmall {
    margin-right: 3px;
}


.css-9iedg7 {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
}


.css-sfttxj {
    max-width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 32px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(47, 56, 63, 0.14);
    border-radius: 16px;
    white-space: nowrap;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #bdbdbd;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #eef0f2;
    max-width: 250px;
}


.css-sfttxj.Mui-disabled {
    opacity: 0.38;
    pointer-events: none;
}


.css-sfttxj .MuiChip-avatar {
    margin-left: 5px;
    margin-right: -6px;
    width: 24px;
    height: 24px;
    color: #616161;
    font-size: 12px;
}


.css-sfttxj .MuiChip-avatarColorPrimary {
    color: #fff;
    background-color: #0E023B;
}


.css-sfttxj .MuiChip-avatarColorSecondary {
    color: rgba(0, 0, 0, 0.87);
    background-color: #DAA507;
}


.css-sfttxj .MuiChip-avatarSmall {
    margin-left: 4px;
    margin-right: -4px;
    width: 18px;
    height: 18px;
    font-size: 10px;
}


.css-sfttxj .MuiChip-icon {
    margin-left: 5px;
    margin-right: -6px;
    color: #616161;
}


.css-sfttxj .MuiChip-deleteIcon {
    -webkit-tap-highlight-color: transparent;
    color: rgba(0, 0, 0, 0.26);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px 0 -6px;
}


.css-sfttxj .MuiChip-deleteIcon:hover {
    color: rgba(0, 0, 0, 0.4);
}


.css-sfttxj:hover {
    background-color: rgba(47, 56, 63, 0.12);
}


.css-sfttxj.Mui-focusVisible {
    background-color: rgba(47, 56, 63, 0.2);
}


.css-sfttxj:active {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.css-sfttxj.MuiChip-clickable:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


.css-sfttxj.Mui-focusVisible {
    background-color: rgba(0, 0, 0, 0.12);
}


.css-sfttxj .MuiChip-avatar {
    margin-left: 4px;
}


.css-sfttxj .MuiChip-avatarSmall {
    margin-left: 2px;
}


.css-sfttxj .MuiChip-icon {
    margin-left: 4px;
}


.css-sfttxj .MuiChip-iconSmall {
    margin-left: 2px;
}


.css-sfttxj .MuiChip-deleteIcon {
    margin-right: 5px;
}


.css-sfttxj .MuiChip-deleteIconSmall {
    margin-right: 3px;
}


.css-n08mak {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    max-width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 32px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(47, 56, 63, 0.14);
    border-radius: 16px;
    white-space: nowrap;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: default;
    outline: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #bdbdbd;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #eef0f2;
    max-width: 250px;
}


.css-n08mak::-moz-focus-inner {
    border-style: none;
}


.css-n08mak.Mui-disabled {
    pointer-events: none;
    cursor: default;
}


@media print {
    .css-n08mak {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}


.css-n08mak.Mui-disabled {
    opacity: 0.38;
    pointer-events: none;
}


.css-n08mak .MuiChip-avatar {
    margin-left: 5px;
    margin-right: -6px;
    width: 24px;
    height: 24px;
    color: #616161;
    font-size: 12px;
}


.css-n08mak .MuiChip-avatarColorPrimary {
    color: #fff;
    background-color: #0E023B;
}


.css-n08mak .MuiChip-avatarColorSecondary {
    color: rgba(0, 0, 0, 0.87);
    background-color: #DAA507;
}


.css-n08mak .MuiChip-avatarSmall {
    margin-left: 4px;
    margin-right: -4px;
    width: 18px;
    height: 18px;
    font-size: 10px;
}


.css-n08mak .MuiChip-icon {
    margin-left: 5px;
    margin-right: -6px;
    color: #616161;
}


.css-n08mak .MuiChip-deleteIcon {
    -webkit-tap-highlight-color: transparent;
    color: rgba(0, 0, 0, 0.26);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px 0 -6px;
}


.css-n08mak .MuiChip-deleteIcon:hover {
    color: rgba(0, 0, 0, 0.4);
}


.css-n08mak:hover {
    background-color: rgba(47, 56, 63, 0.12);
}


.css-n08mak.Mui-focusVisible {
    background-color: rgba(47, 56, 63, 0.2);
}


.css-n08mak:active {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.css-n08mak.MuiChip-clickable:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


.css-n08mak.Mui-focusVisible {
    background-color: rgba(0, 0, 0, 0.12);
}


.css-n08mak .MuiChip-avatar {
    margin-left: 4px;
}


.css-n08mak .MuiChip-avatarSmall {
    margin-left: 2px;
}


.css-n08mak .MuiChip-icon {
    margin-left: 4px;
}


.css-n08mak .MuiChip-iconSmall {
    margin-left: 2px;
}


.css-n08mak .MuiChip-deleteIcon {
    margin-right: 5px;
}


.css-n08mak .MuiChip-deleteIconSmall {
    margin-right: 3px;
}


.css-1v7g2c9 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.css-1hy9t21 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}


.css-cg9eg6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 16px;
}


.css-ih7ib9 {
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(47, 56, 63, 0.80);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.css-ih7ib9:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


@media (hover: none) {
    .css-ih7ib9:hover {
        background-color: transparent;
    }
}


.css-ih7ib9.Mui-disabled {
    background-color: transparent;
    color: rgba(47, 56, 63, 0.26);
}


.css-ih7ib9:hover>svg {
    fill: #F2B807;
}


.css-efhb8q {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(47, 56, 63, 0.80);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.css-efhb8q::-moz-focus-inner {
    border-style: none;
}


.css-efhb8q.Mui-disabled {
    pointer-events: none;
    cursor: default;
}


@media print {
    .css-efhb8q {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}


.css-efhb8q:hover {
    background-color: rgba(47, 56, 63, 0.04);
}


@media (hover: none) {
    .css-efhb8q:hover {
        background-color: transparent;
    }
}


.css-efhb8q.Mui-disabled {
    background-color: transparent;
    color: rgba(47, 56, 63, 0.26);
}


.css-efhb8q:hover>svg {
    fill: #F2B807;
}